<h1>Reserva</h1>

<p>
  Enviada em: <%= l @reservation.created_at, :format => :custom %>
</p>

<p>
  Data de chegada: <%= l @reservation.arrival, :format => :custom if @reservation.arrival.present? %>
</p>

<p>
  Horário: <%= @reservation.arrival_time %>
</p>

<p>
  Data de partida: <%= l @reservation.departure, :format => :custom if @reservation.departure.present? %>
</p>

<p>
  Habitação: <%= @reservation.room %>
</p>

<p>
  Número de pessoas: <%= @reservation.quantity %>
</p>

<p>
  Nome: <%= @reservation.first_name %>
</p>

<p>
  Sobrenome: <%= @reservation.last_name %>
</p>

<p>
  Documento: <%= @reservation.identification %>
</p>

<p>
  Sexo: <%= @reservation.gender %>
</p>

<p>
  Nacionalidade: <%=Carmen::Country.coded(@reservation.nationality).try(:name) %>
</p>

<p>
  E-mail: <%= @reservation.email %>
</p>

<p>
  Deseja transfer: <%= @reservation.wants_transfer %>
</p>

<p>
  Chegada transfer: <%= l @reservation.transfer_arrival, :format => :custom if @reservation.transfer_arrival.present? %>
</p>

<p>
  Horário da chegada transfer: <%= @reservation.transfer_arrival_time %>
</p>

<p>
  Origem transfer: <%= @reservation.transfer_origin %>
</p>

<p>
  Número do Vôo transfer: <%= @reservation.transfer_flight_number %>
</p>

<p>
  Endereço: <%= @reservation.address %>
</p>

<p>
  Cidade: <%= @reservation.city %>
</p>

<p>
  Telefone: <%= @reservation.phone %>
</p>

<p>
  Celular: <%= @reservation.mobile %>
</p>

<p>
  Observação: <%= @reservation.obs %>
</p>

<p>
  <%= link_to 'Voltar', admin_reservations_path %>
</p>
