<div class="mensagemSucesso">
  <h3><%= t('pages.contact.success') %></h3>
</div>

<div class="mensagemErro">
  <h3 class="erroH3"><%= t('pages.contact.error_title') %></h3>
  <p class="erroP"><%= t('pages.contact.error_sub_title') %></p>
</div>

<%= form_for(@message, :format => :js, :remote => true) do |f| %>

  <h4><%= t('pages.contact.form_sub_title') %></h4>

  <div class="field metade">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "medio" %>
    <div class="clear"></div>
  </div>

  <div class="field metade">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "medio" %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field">
    <%= f.label :country %>
    <%= f.country_select(:country, "BR") %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field">
    <%= f.submit "Enviar", :class => "botVerde" %>
    <div class="clear"></div>
  </div>
<% end %>