<div class="mensagemSucesso">
  <h3><%= I18n.t("pages.reservation.form_success") %></h3>
</div>

<div class="mensagemErro">
  <h3 class="erroH3"><%= I18n.t("pages.reservation.form_error_title") %></h3>
  <p class="erroP"><%= I18n.t("pages.reservation.form_error_subtitle") %></p>
</div>

<%= form_for(@reservation, :format => :js, :remote => true) do |f| %>

  <h3><%= I18n.t("pages.reservation.form_title") %></h3>

  <h4><%= I18n.t("pages.reservation.form_subtitle")%></h4>

  <div class="field metade">
    <div class="arrival">
      <%= f.label :arrival, :for => 'reservation_arrival_text' %>
      <%= f.hidden_field :arrival, :class => "datepicker" %>
      <%= f.text_field :arrival_text, :class => "for-date" %>
      <span class="date_format">(dd/mm/yyyy)</span>
    </div>

    <div class="arrival">
      <%= f.label :arrival_time %>
      <%= f.select :arrival_time, options_for_select(options_for_simple_time_select), {}, :class => "for-time" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="field metade">
    <%= f.label :departure, :for => 'reservation_departure_text' %>
    <%= f.hidden_field :departure, :class => "datepicker" %>
    <%= f.text_field :departure_text, :class => "for-date" %>
    <span class="date_format">(dd/mm/yyyy)</span>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field metade">
    <%= f.label :room, I18n.t("pages.reservation.room_choose") %>
    <%= f.select(:room, options_for_select(@reservation_types), :include_blank => true) %>
    <div class="clear"></div>
  </div>

  <div class="field metade time">
    <%= f.label :quantity %>
    <%= f.select :quantity, options_for_select((1..10).to_a), :class => "medio" %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field metade">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "medio" %>
    <div class="clear"></div>
  </div>

  <div class="field metade">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "medio" %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field metade">
    <%= f.label :identification %>
    <%= f.text_field :identification, :class => "medio" %>
    <div class="clear"></div>
  </div>

  <div class="field metade">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select([I18n.t("pages.reservation.male"), I18n.t("pages.reservation.female")]), :include_blank => true %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field metade">
    <%= f.label :nationality %>
    <%= f.country_select(:nationality, "BR") %>
    <div class="clear"></div>
  </div>

  <div class="field metade">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="field radio">
    <%= f.label :wants_transfer_sim, I18n.t("pages.reservation.wants_transfer") %>
    <label>
      <%= f.radio_button :wants_transfer, 'sim' %>
      <%= I18n.t("pages.reservation.option_yes") %>
    </label>

    <label>
      <%= f.radio_button :wants_transfer, 'não' %>
      <%= I18n.t("pages.reservation.option_no") %>
    </label>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div id="transfer_details">
    <div class="field metade">
      <div class="arrival">
        <%= f.label :transfer_arrival, :for => 'reservation_transfer_arrival_text' %>
        <%= f.hidden_field :transfer_arrival, :class => "datepicker" %>
        <%= f.text_field :transfer_arrival_text, :class => "for-date" %>
        <span class="date_format">(dd/mm/yyyy)</span>
      </div>

      <div class="arrival">
        <%= f.label :transfer_arrival_time %>
        <%= f.select :transfer_arrival_time, options_for_select(options_for_simple_time_select), {}, :class => "for-time" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="field metade">
      <%= f.label :transfer_origin %>
      <%= f.text_field :transfer_origin, :class => "medio" %>
      <div class="clear"></div>
    </div>

    <div class="field metade">
      <%= f.label :transfer_flight_number %>
      <%= f.text_field :transfer_flight_number, :class => "medio" %>
      <div class="clear"></div>
    </div>

    <div id="transfer-service"><%=raw @page.snippets.section(:transfer_service).rendered_body %></div>
  </div>
  <div class="clear"></div>

  <div id="contact_details_toggle">
    <span><%= I18n.t('pages.reservation.fast_check_in') %> <a><%= I18n.t('pages.reservation.click_here') %></a></span>
  </div>

  <fieldset id="contact_details">
    <legend><%= I18n.t('pages.reservation.fast_check_in_subtitle') %></legend>

    <div class="field metade">
      <%= f.label :address %>
      <%= f.text_field :address %>
      <div class="clear"></div>
    </div>

    <div class="field metade">
      <%= f.label :city %>
      <%= f.text_field :city %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="field metade">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      <div class="clear"></div>
    </div>

    <div class="field metade">
      <%= f.label :mobile %>
      <%= f.text_field :mobile %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="field">
      <%= f.label :obs %>
      <%= f.text_area :obs %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </fieldset>

  <div id="terms-and-conditions">
    <%= f.check_box(:terms_and_conditions, {}, "yes", "no") %>
    <span>
      <%= I18n.t('pages.reservation.terms_and_conditions_label') %> <a data-rel="#terms-and-conditions-modal" class="fancy-modal"><%= I18n.t('pages.reservation.terms_and_conditions') %></a>
    </span>
    <div id="terms-and-conditions-modal">
      <%=raw @page.snippets.section(:terms_conditions).rendered_body %>
    </div>
  </div>

  <div class="field">
    <%= f.submit I18n.t('pages.reservation.send'), :class => "botVerde" %>
    <div class="clear"></div>
  </div>
<% end %>