<div class="tituloSecao">
  <h2><%= t('pages.dorms.title') %></h2>
</div>

<div class="conteudoPrincipal">
  <%=raw @page.snippets.section(:main).rendered_body %>
</div><!-- conteudoPrincipal -->

<div class="conteudoSecundario">
  <h3>Fotos</h3>
  <% @page.photos.ordered.each do |photo| %>
    <div class="fotoGaleria">
      <%= link_to photo.image.url, :class => "fancybox", :title => photo.caption, :rel => 'photos' do %>
        <%= image_tag photo.image.thumb.url, :alt => photo.caption, :title => photo.caption %>
      <% end %>
    </div>
  <% end %>
  <div class="clear"></div>
</div><!-- /conteudoSecundario -->
<div class="clear"></div>

<div class="conteudoPrincipalTotal">
  <%=raw @page.snippets.section(:dorms_2).rendered_body %>
  <%=raw @page.snippets.section(:dorms_4).rendered_body %>
  <%=raw @page.snippets.section(:dorms_6).rendered_body %>
  <%=raw @page.snippets.section(:collective).rendered_body %>
</div><!-- /conteudoPrincipalTotal -->