<div id="painel">
  <% @page.photos.in_groups(3, false).each do |photos| %>
    <%= content_tag :div, nil, :class => "fotoPainel", :data => { :photos => photos.map { |p| { :src => p.image.panel.url } } } %>
  <% end %>
</div>

<div class="freeBox">
  <%= link_to "#", :title => t('pages.home.breakfast.title') do %>
    <%= image_tag "ico_prato.png", :width => 62, :height => 52, :alt => t('pages.home.breakfast.title') %>
    <h4><%= t('pages.home.breakfast.body') %></h4>
  <% end %>
</div>

<div class="freeBox">
  <%= link_to "#", :title => t('pages.home.wifi.title') do %>
    <%= image_tag "ico_wifi.png", :width => 62, :height => 52, :alt => t('pages.home.wifi.title') %>
    <h4><%= t('pages.home.wifi.body') %></h4>
  <% end %>
</div>

<div class="freeBox">
  <%= link_to "#", :title => t('pages.home.air.title') do %>
    <%= image_tag "ico_nuvem.png", :width => 62, :height => 52, :alt => t('pages.home.air.title') %>
    <h4><%= t('pages.home.air.body') %></h4>
  <% end %>
</div>

<div class="freeBox">
  <%= link_to "#", :title => t('pages.home.security.title') do %>
    <%= image_tag "ico_cadeado.png", :width => 62, :height => 52, :alt => t('pages.home.security.title') %>
    <h4><%= t('pages.home.security.body') %></h4>
  <% end %>
</div>

<div class="clear"></div>

<div class="destaques">
  <div class="destaqueLeft">
    <%= link_to hostel_path do %>
      <%=raw @page.snippets.section(:bottom_left).rendered_body %>
    <% end %>
  </div>

  <div class="destaqueRight">
    <%= link_to santa_path do %>
      <%=raw @page.snippets.section(:bottom_right).rendered_body %>
    <% end %>
  </div>

  <div class="clear"></div>
</div>