<div class="tituloSecao reservation-title">
  <h2>
    <%= t('pages.reservation.title') %>
  </h2>
</div>

<div class="conteudoPrincipalTotal reservation">
  <%= render :partial => "reservation_form" %>

  <% @page.snippets.ordered.each do |snippet| %>
    <% unless snippet.section.in?([:terms_and_conditions, :transfer_service, :extra_reservations]) %>
      <%=raw snippet.rendered_body if snippet.status %>
    <% end %>
  <% end %>

  <div class="reservation-site">
    <%= render :partial => "reservation_site" %>
  </div>

  <%=raw @page.snippets.section(:extra_reservations).rendered_body if @page.snippets.section(:extra_reservations) %>
</div><!-- /conteudoPrincipalTotal -->
