<div class="tituloSecao reservation-title">
  <h2>
    <%= t('pages.reservation.title') %>
  </h2>
</div>

<div class="conteudoPrincipalTotal reservation">
  <%= render :partial => "reservation_form" %>

  <% @page.snippets.ordered.each do |snippet| %>
    <% unless snippet.section.in?([:terms_and_conditions, :transfer_service, :extra_reservations]) %>
      <%=raw snippet.rendered_body if snippet.status %>
    <% end %>
  <% end %>

  <div class="reservation-site">
    <iframe src="https://secure.minihotelpms.com/bossa/frm_motel_Orders_new.aspx?dbkey=bossa&prclist=*all&lng=<%= locale_for_reservation %>" frameborder="0" marginwidth="0" marginheight="0" width="800" height="600"></iframe>
  </div>

  <%=raw @page.snippets.section(:extra_reservations).rendered_body if @page.snippets.section(:extra_reservations) %>
</div><!-- /conteudoPrincipalTotal -->
