<div class="tituloSecao">
  <h2><%= t('pages.reservation.title') %></h2>
</div>

<div class="conteudoPrincipalTotal">
  <%=raw @page.snippets.section(:new_year_package).rendered_body %>

  <%=raw @page.snippets.section(:carnival_package).rendered_body %>

  <%=raw @page.snippets.section(:high_season_package).rendered_body %>

  <%=raw @page.snippets.section(:low_season_package).rendered_body %>

  <%=raw @page.snippets.section(:promotions).rendered_body %>

  <%=raw @page.snippets.section(:terms_conditions).rendered_body %>
</div><!-- /conteudoPrincipalTotal -->