<div class="tituloSecao">
  <h2><%= t('pages.rooms.title') %></h2>
</div>

<div class="conteudoSecundario">
  <h3>Fotos</h3>
  <% @page.photos.each do |photo| %>
    <div class="fotoGaleria">
      <%= link_to photo.image.url, :class => "fancybox", :title => photo.caption, :rel => 'photos' do %>
        <%= image_tag photo.image.thumb.url, :alt => photo.caption, :title => photo.caption %>
      <% end %>
    </div>
  <% end %>
  <div class="clear"></div>
</div><!-- /conteudoSecundario -->
<div class="clear"></div>

<div class="conteudoPrincipalTotal">
  <%=raw @page.snippets.section(:standard).rendered_body %>
  <%=raw @page.snippets.section(:master1).rendered_body %>
  <%=raw @page.snippets.section(:master2).rendered_body %>
</div><!-- /conteudoPrincipalTotal -->