<%= form_for(@snippet, :url => admin_page_snippet_path(@page, @snippet), :html => { :class => "form-stacked" }) do |f| %>
  <fieldset>
    <legend><%= t "sections.#{@snippet.section}" %></legend>

    <ul class="nav nav-tabs" data-tabs="tabs">
      <% I18n.available_locales.each_with_index do |locale, index| %>
        <li class="<%= "active" if index == 0 %>"><a href="#<%= locale %>" data-toggle="tab"><%= locale %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% I18n.available_locales.each_with_index do |locale, index| %>
        <% I18n.with_locale(locale) do %>
          <div id="<%= locale %>" class="tab-pane <%= "active" if index == 0 %>">
            <div class="form-group">
              <%= label_tag "body_translations[#{locale}]", "Texto" %>

              <div>
                <%= text_area_tag "body_translations[#{locale}]", @snippet.body, :class => "form-control", :rows => 20 %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<%= render :partial => 'admin/photos/listing' %>
