<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Bossa in Rio Hostel" %></title>
  <%= stylesheet_link_tag    "admin_application" %>
  <%= javascript_include_tag "admin_application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div style="z-index: 5;" class="topbar-wrapper">
    <div data-dropdown="dropdown" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><%= link_to "Bossa in Rio", admin_pages_path %></h3>
          <ul class="nav">
            <li><%= link_to "Home", by_slug_admin_pages_path(:slug => "home") %></li>
            <li class="dropdown">
              <%= link_to "Hostel", by_slug_admin_pages_path(:slug => "hostel"), :class => "dropdown-toggle" %>
              <ul class="dropdown-menu">
                <li><%= link_to "Hostel", by_slug_admin_pages_path(:slug => "hostel") %></li>
                <li><%= link_to "Serviços", by_slug_admin_pages_path(:slug => "services") %></li>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to "Habitações", by_slug_admin_pages_path(:slug => "rooms"), :class => "dropdown-toggle" %>
              <ul class="dropdown-menu">
                <li><%= link_to "Suítes", by_slug_admin_pages_path(:slug => "rooms") %></li>
                <li><%= link_to "Quartos Coletivos", by_slug_admin_pages_path(:slug => "dorms") %></li>
              </ul>
            </li>
            <li><%= link_to "Fotos", by_slug_admin_pages_path(:slug => "photos") %></li>
            <li class="dropdown">
              <%= link_to "Localização", by_slug_admin_pages_path(:slug => "location"), :class => "dropdown-toggle" %>
              <ul class="dropdown-menu">
                <li><%= link_to "Localização", by_slug_admin_pages_path(:slug => "location") %></li>
                <li><%= link_to "Santa Teresa", by_slug_admin_pages_path(:slug => "santa") %></li>
              </ul>
            </li>
            <li><%= link_to "Reserva", by_slug_admin_pages_path(:slug => "reservation") %></li>
            <li><%= link_to "Contato", by_slug_admin_pages_path(:slug => "contact") %></li>
          </ul>
          <ul class="nav secondary-nav">
            <li><%= link_to "Mensagens", admin_messages_path %></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>

  <% unless flash[:notice].blank? %>
    <div class="alert-message info">
      <%= content_tag :div, flash[:notice] %>
    </div>
  <% end %>

  <% unless flash[:error].blank? %>
    <div class="alert-message error">
      <%= content_tag :div, flash[:error] %>
    </div>
  <% end %>

  <% unless flash[:alert].blank? %>
    <div class="alert-message warning">
      <%= content_tag :div, flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
