<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bossa in Rio Hostel</title>

  <meta name="keywords" content="<%= t('meta.keywords') %>" />
  <meta name="description" content="<%= t('meta.description') %>" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= link_to root_path, :class => "logoHome", :title => t('header.logo.title') do %>
    <%= image_tag "logo_bossainrio.png", :alt => t('header.logo.title') %>
  <% end %>

  <div class="linguas">
    <ul>
      <li><%= link_to "", url_for(:i18n_locale => 'pt-BR'), :class => "ptbr", :title => 'português' %></li>
      <li><%= link_to "", url_for(:i18n_locale => 'en'), :class => "en", :title => 'english' %></li>
      <li><%= link_to "", url_for(:i18n_locale => 'fr'), :class => "fr", :title => 'française' %></li>
      <li><%= link_to "", url_for(:i18n_locale => 'es'), :class => "es", :title => 'español' %></li>
    </ul>
  </div>

  <div class="menu">
    <ul>
      <li>
        <%= link_to t('menu.hostel.title'), hostel_path, :class => 'menu', :"data-toggle-hover" => "true", :rel => 'sub-menu-hostel' %>
        <ul id="sub-menu-hostel" style="display:none;">
          <li><%= link_to t('menu.hostel.submenus.hostel.title'), hostel_path %></li>
          <li><%= link_to t('menu.hostel.submenus.services.title'), services_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to t('menu.rooms.title'), rooms_path, :class => 'menu', :"data-toggle-hover" => "true", :rel => 'sub-menu-facilities' %>
        <ul id="sub-menu-facilities" style="display:none;">
          <li><%= link_to t('menu.rooms.submenus.suites.title'), rooms_path %></li>
          <li><%= link_to t('menu.rooms.submenus.dorms.title'), dorms_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to t('menu.photos.title'), photos_path, :class => 'menu' %>
      </li>
      <li>
        <%= link_to t('menu.location.title'), location_path, :class => 'menu', :"data-toggle-hover" => "true", :rel => 'sub-menu-location' %>
        <ul id="sub-menu-location" style="display:none;">
          <li><%= link_to t('menu.location.submenus.location.title'), location_path %></li>
          <li><%= link_to t('menu.location.submenus.santa.title'), santa_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to t('menu.reservation.title'), reservation_path, :class => 'menu' %>
      </li>
      <li>
        <%= link_to t('menu.contact.title'), contact_path, :class => 'menu' %>
      </li>
    </ul>
  </div>
</div>

<div id="content">
  <%= yield %>
  <div class="clear"></div>
</div>


<div id="footer">
  <div class="footerIn">
    <div class="blocoFooter">
      <h6><%= t('footer.title') %></h6>
      <div class="menuFooter">
        <p>
          <%= link_to t('menu.hostel.title'), hostel_path %><br />
          <%= link_to t('menu.hostel.submenus.services.title'), services_path %><br />
          <%= link_to t('menu.photos.title'), photos_path %>
        </p>
      </div>
      <div class="menuFooter mfLast">
        <p>
          <%= link_to t('menu.location.title'), location_path %><br />
          <%= link_to t('menu.reservation.title'), reservation_path %><br />
          <%= link_to t('menu.contact.title'), contact_path %>
        </p>
      </div>
      <hr />
      <h4>
        +55 21 3363-1149<br />
        +55 21 7835-1328
      </h4>
      <p><a href="mailto:bossainrio@gmail.com">bossainrio@gmail.com</a></p>
    </div>

    <div class="blocoFooter">
      <h6><%= t('footer.contacts.title') %></h6>
      <div class="redes">
        <p>
          <%= link_to '#', :target => "_blank", :title => t('footer.contacts.twitter') do %>
            <img src="/assets/ico_twitter.png" width="32" height="30" alt="Twitter" />
            Twitter
          <% end %>
        </p>
      </div><div class="clear"></div>
      <div class="redes">
        <p>
          <%= link_to '#', :target => "_blank", :title => t('footer.contacts.facebook') do %>
            <img src="/assets/ico_facebook.png" width="32" height="30" alt="Facebook" />
            Facebook
          <% end %>
        </p>
      </div><div class="clear"></div>
      <div class="redes">
        <p>
          <img src="/assets/ico_skype.png" width="32" height="30" alt="Skype" />
          bossainrio
        </p>
      </div><div class="clear"></div>
    </div>

    <div class="blocoFooter">
      <h6><%= t('footer.indications.title') %></h6>
      <a href="#" title="Ouça agora" class="musica" target="_blank">
        <h5>O Título da Música</h5>
        <p>Nome do Artista</p>
      </a>
      <a href="#" title="Ouça agora" class="musica" target="_blank">
        <h5>O Título da Música</h5>
        <p>Nome do Artista</p>
      </a><div class="clear"></div>
      <hr />
      <p><%= t('footer.developed_by') %></p>
      <a href="http://dtmconsultoria.com" target="_blank" title="DTM - Desenvolvimento de sistemas web, imobilário, e-commerce, integração de aplicações e layouts inteligentes."><img src="/assets/logo_dtm_footer.png" width="62" height="26" /></a>
    </div>

    <div class="blocoFooter last">
      <h6><%= t('footer.where.title') %></h6>
      <img src="/assets/ico_mapa.png" width="62" height="42" />
      <p>Rua Joaquim Murtinho, 531<br />Santa Teresa<br />Rio de Janeiro - RJ. Brasil.</p>
      <hr />
      <p><%=raw t('footer.where.references') %></p>
    </div>
  </div>
</div>

</body>
</html>