<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bossa in Rio Hostel</title>

  <meta name="keywords" content="hostel, Rio, Rio de Janeiro, bossa" />
  <meta name="description" content="Hostel Rio de Janeiro" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".subMenu").hover(function(){
        id = $(this).attr('rel');
        $("#"+id).slideToggle("fast");
        $(this).toggleClass("botInfoHide");
      });
    });
  </script>
</head>
<body>

<div id="header">
  <%= link_to root_path, :class => "logoHome", :title => "Bossa in Rio Hostel" do %>
    <%= image_tag "logo_bossainrio.png", :alt => "Bossa in Rio Hostel" %>
  <% end %>

  <div class="linguas">
    <ul>
      <li><a href="" class="ptbr" title="português"></a></li>
      <li><a href="" class="en" title="english"></a></li>
      <li><a href="" class="fr" title="française"></a></li>
      <li><a href="" class="es" title="español"></a></li>
    </ul>
  </div>

  <div class="menu">
    <ul>
      <li>
        <%= link_to 'O HOSTEL', '', :class => 'subMenu', :rel => 'subMenuHostel' %>
        <ul id="subMenuHostel" style="display:none;">
          <li><a href="#">ITEM 1</a></li>
          <li><a href="#">ITEM 2</a></li>
          <li><a href="#">ITEM 3</a></li>
          <li><a href="#">ITEM 4</a></li>
        </ul>
      </li>
      <li>
        <%= link_to 'HABITAÇÕES', '', :class => 'subMenu', :rel => 'subMenuHab' %>
        <ul id="subMenuHab" style="display:none;">
          <li><%= link_to "Suíte Master", '' %></li>
          <li><%= link_to "Suíte", '' %></li>
          <li><%= link_to "Dormitório 2 pessoas", '' %></li>
          <li><%= link_to "Dormitório 4 pessoas", '' %></li>
          <li><%= link_to "Dormitório 6 pessoas", '' %></li>
          <li><%= link_to "Dormitório 10 pessoas", '' %></li>
        </ul>
      </li>
      <li><%= link_to 'FOTOS', photos_path %></li>
      <li><%= link_to 'LOCALIZAÇÃO', '' %></li>
      <li><%= link_to 'RESERVAS', '' %></li>
      <li><%= link_to 'CONTATO', '' %></li>
    </ul>
  </div>
</div>

<div id="content">
  <%= yield %>
  <div class="clear"></div>
</div>


<div id="footer">
  <div class="footerIn">
    <div class="blocoFooter">
      <h6>Bossa in Rio Hostel</h6>
      <div class="menuFooter">
        <p>
          <a href="#">O Hostel</a><br />
          <a href="#">Habitações</a><br />
          <a href="#">Fotos</a>
        </p>
      </div>
      <div class="menuFooter mfLast">
        <p>
          <a href="#">Localização</a><br />
          <a href="#">Reservas</a><br />
          <a href="#">Contato</a>
        </p>
      </div>
      <hr />
      <h4>
        +55 21 3363-1149<br />
        +55 21 7835-1328
      </h4>
      <p><a href="mailto:contato@bossainrio.com.br">contato@bossainrio.com.br</a></p>
    </div>

    <div class="blocoFooter">
      <h6>Mantenha contato</h6>
      <div class="redes">
        <img src="/assets/ico_twitter.png" width="32" height="30" /><p><a href="" title="Siga no Twitter" target="_blank">Twitter</a></p>
      </div><div class="clear"></div>
      <div class="redes">
        <img src="/assets/ico_facebook.png" width="32" height="30" /><p><a href="" title="Adicione no Facebook" target="_blank">Facebook</a></p>
      </div><div class="clear"></div>
      <div class="redes">
        <img src="/assets/ico_skype.png" width="32" height="30" /><p>bossainrio</p>
      </div><div class="clear"></div>
    </div>

    <div class="blocoFooter">
      <h6>Bossa in Rio indica</h6>
      <a href="#" title="Ouça agora" class="musica" target="_blank">
        <h5>O Título da Música</h5>
        <p>Nome do Artista</p>
      </a>
      <a href="#" title="Ouça agora" class="musica" target="_blank">
        <h5>O Título da Música</h5>
        <p>Nome do Artista</p>
      </a><div class="clear"></div>
      <hr />
      <p>Desenvolvido por</p>
      <a href="http://dtmconsultoria.com" target="_blank" title="DTM - Desenvolvimento de sistemas web, imobilário, e-commerce, integração de aplicações e layouts inteligentes."><img src="/assets/logo_dtm_footer.png" width="62" height="26" /></a>
    </div>

    <div class="blocoFooter last">
      <h6>Onde estamos</h6>
      <img src="/assets/ico_mapa.png" width="62" height="42" />
      <p>Rua Fulano de Tal, XXX<br />Santa Teresa<br />Rio de Janeiro - RJ. Brasil.</p>
      <hr />
      <p>A 10 minutos do Cristo Redentor.<br />A 20 minutos de Copacabana.</p>
    </div>
  </div>
</div>

</body>
</html>